.timer_clock {
    width: 250px;
    height: 250px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(133, 86, 25, 0.514);
    border-radius: 50%;
    box-shadow: inset 0 0 50px rgba(88, 40, 0, 0.698);
}

.clock_time {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    font-weight: 900 !important;
    color: rgb(29, 28, 28);
    width: 180px;
    height: 180px;
    border-radius: 50%;
    /* background-color: lemonchiffon; */
    box-shadow: inset 0 0 30px rgba(82, 37, 0, 0.705);
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes example {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

#danger {
    animation-name: example;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}


@media (max-width:370px) {
    .timer_clock {
        width: 200px;
        height: 200px;
        padding: 15px;

    }
    
    .clock_time {
        font-size: 35px;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        box-shadow: inset 0 0 20px rgb(82, 37, 0);
    }
    
}